---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mastodon Flock">
  <main>
    <p>hello!</p>
    <p><a href="./twitter/login">Login on Twitter</a></p>
  </main>
  <footer><address>{Astro.site}</address></footer>
</Layout>
