---
import { config } from "../config";
import Layout from "../layouts/Layout.astro";
import { Windows } from "../react-islands/Windows";

Astro.response.headers.set("cache-control", "s-maxage=86400, max-age=600");

const canonicalUrl = new URL(Astro.url.pathname, Astro.site).toString();
---

<Layout
  title="Mastodon Flock"
  description="Migrate your tweeps to the Fediverse"
  canonicalUrl={canonicalUrl}
>
  <h1><a href={config.urls.home}>Mastodon Flock</a></h1>
  <section>
    <Windows client:only="react" mainWindow="Wizard" />
  </section>
</Layout>

<style>
  body {
    background-image: linear-gradient(
      180deg,
      #0000ff 0%,
      #06006e 54.79%,
      #00001f 82.55%,
      #000000 100%
    );
    background-color: #0000ff;
    background-attachment: fixed;
  }

  h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    font-size: 48pt;
    line-height: 1.1;
    padding-left: 10px;
    text-shadow: 4px 4px #000;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
  }
</style>
