---
import Layout from "../layouts/Layout.astro";
import { People } from "../react-islands/People";
---

<Layout title="Mastodon Flock">
  <main>
    <h1>Results</h1>
    <section>
      <People client:only="react" />
    </section>
  </main>
</Layout>
