---
import Layout from "../layouts/Layout.astro";
import { Windows } from "../react-islands/Windows";

Astro.response.headers.set("cache-control", "s-maxage=86400, max-age=600");
---

<Layout
  title="Privacy Policy"
  description="Mastodon Flock privacy policy describing how it handles your data."
>
  <main>
    <Windows client:only="react" mainWindow="PrivacyPolicy" />
  </main>
</Layout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }
</style>
