---
import Layout from "../layouts/Layout.astro";
import { People } from "../react-islands/People";

Astro.response.headers.set("cache-control", "s-maxage=86400, max-age=600");
---

<Layout title="Mastodon Flock">
  <main>
    <People client:only="react" />
  </main>
</Layout>

<style>
  main {
    flex-grow: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
